h1{
	text-align: center;
}

.blogcontent, h1{
	margin: 0 auto;
}

h2{
	text-align: center;
	margin: 0px auto;
}

h4{
	text-align: center;
	margin: 0px auto;
}

.BlogContent{
	font-family: times;
	margin: 20px auto;
}
