html{
	margin: 0;
	background-color: grey;
}

html, body{
	height: 100%;
}

h1{
	text-align: center;
	font-family: cursive;
}

#Navbar{
		width: 100%;
		display: table;
}

.NavbarColor{
	background-color: green;
}

.NavbarItem{
	display: block;
	left: 0;
	float: left;
	padding: 0 1em 0 1em;
	margin: 0;
	position: relative;
	color: black;
	background-color: green;
}

.NavbarItem:hover{
	color: red;
}

h3{
	text-align: center;
}