html{
	margin: 0;
	/*background-image: url("../images/supreme-court-edited.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;*/
	color: #FF2C22;
	background-color: black;
}

html, body{
	height: 100%;
}

header{
	/*display: inline;*/
	margin: 30px auto 0px;
	text-align: center;
	font-family: cursive;
	/*background-color: #996A51;*/
	opacity: .9;
}

a:link{
	color: #FF2C22;
}


.Text{
	color: red;
	opacity: 1;
}

#Navbar{
		width: 100%;
		display: inline-table;
		margin: 10px auto;
		background-color: #996A51;
}

.NavbarItem{
	display: block;
	float: left;
	padding: 0 1em 0 1em;
	margin: 0;
	text-decoration: none;
}

h1{
	margin: 0 auto;
}

h3{
	text-align: center;
}

.NavbarItem:hover{
	color: #61FF6F;
}

.NavbarItem:visited{
	color: #36CC06;
}

/* Complimenting orange: CC4906*/