html{
	margin: 0;
	background-image: url("../images/supreme-court-edited.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
}

html, body{
	height: 100%;
}

header{
	display: inline;
	margin: 0 auto;
	text-align: center;
	font-family: cursive;
	/*background-color: white;
	opacity: .6;*/
}

a:link{
	color: white;
}


.Text{
	color: black;
	opacity: 1;
}

#Navbar{
		width: 100%;
		display: table;
		/*background-color: white;
		opacity: .6;*/
}

.NavbarItem{
	display: block;
	float: left;
	padding: 0 1em 0 1em;
	margin: 0;
	text-decoration: none;
}

h3{
	text-align: center;
}

.NavbarItem:hover{
	color: red;
}

.NavbarItem:visited{
	color: purple;
}