body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
  background: #fafafa;
  border-bottom: 1px solid #eeeeee;
  padding: 20px;
}

.intro {
  margin:25px 0;
}

.bucket {
  background: #af0090;
  border-radius: 2px;
  padding: 3px 2px;
  color: #ffffff;
  margin-bottom:25px;
}
.bucket-body {
  background: #ffffff;
  padding: 10px;
  border-radius: 0 0 2px 2px;
  border: 1px solid #af0090;
  color: #af0090;
}

.title {
  padding-left:10px;
  font-weight: bold;
}

.footer {
  background: #2e2e2e;
  color:#ffffff;
  padding: 10px 20px;
  margin-top: 25px;
}
.footer a {
  color: #FF2C22;
}



/****************/
/******GRID******/
/****************/

.container {
  margin: 0 100px;
}
.section {
  clear: both;
  padding: 0;
  margin: 0;
}

.padding {
  padding: 45px 0 25px 0;
}

.more-padding {
  padding: 25px 0 55px 0;
}

.footer-padding {
  padding: 10px 0;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }


.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1;}

.swidth-2-12 {
  width: 100%;
}

.width-1-12 {
    width: 91.5%;
}
.width-0-12 {
    width: 83%;
}

.width-9-12 {
    width: 74.5%;
}

.width-8-12 {
    width: 66%;
}

.width-7-12 {
    width: 57.5%;
}

.width-6-12 {
    width: 49%;
}

.width-5-12 {
    width: 40.5%;
}

.width-4-12 {
    width: 32%;
}

.width-3-12 {
    width: 23.5%;
}

.width-2-12 {
    width: 15%;
}

.width-1-12 {
    width: 6.5%;
}

.visible-small {
  display: none;
}

.visible-large {
  display:inline-block;
}

.me-text {
  text-align: center;
}


/*Mobile*/
@media only screen and (max-width: 480px) {

  .container {
    margin: 0 25px;
  }

  .visible-small {
    display:inline-block;
  }

  .visible-large {
    display:none;
  }
  .col {  margin: 1% 0 1% 0%; }

    .width-1-12, .width-2-12, .width-3-12, .width-4-12, .width-5-12, .width-6-12, .width-7-12, .width-8-12, .width-9-12, .swidth-0-12, .swidth-1-12, .swidth-2-12 {
  width: 100%;
  }

  .navbar {
    background: #5cc1af;
    padding: 50px 15px;
  }

  .navbar ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
  transition: all 0.15s ease-out 0s;
  }
  .me-text {
    text-align: center;
    margin-bottom: 55px;
  }
}